@page "/article/create"
@using BlazorWasm.Components.Promotion
@using BlazorWasm.Models;
@using BlazorWasm.Models.Article;
@using BlazorWasm.Components.Upload;
@inherits CreateArticleBase
@attribute [Authorize(Policy = "RequireUserMercadona")]

<PageTitle>Ajout d'un article</PageTitle>

<MudText Typo="Typo.h4" Class="mb-8">Creation d'un article</MudText>

<MudOverlay Visible="_isVisible" DarkBackground="true" ZIndex="1202">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <CreatePromotionComponent OnPromotionCreated="SetPromotionCreated">
            <Title>
                <div class="d-flex justify-space-between">
                    <MudText Typo="Typo.h4">Nouvelle Promotion</MudText>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Close"
                                   Color="Color.Primary"
                                   OnClick="@(e => ToggleOverlay(false))" />
                </div>
            </Title>
            <ButtonValidateOverlay>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Class="ml-auto">
                        Valider
                    </MudButton>
                </MudCardActions>
            </ButtonValidateOverlay>
        </CreatePromotionComponent>
    </MudContainer>
</MudOverlay>

<EditForm Model="@ArticleToCreate" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid Class="mb-4">
        <MudItem xs="12" md="3">
            <MudText Typo="Typo.h6">Détails</MudText>
            <MudText Typo="Typo.body2">Nom, description...</MudText>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudCard Elevation="10" Class="rounded-lg px-3 py-1">
                <MudCardContent Class="d-flex flex-column gap-4">

                    <MudTextField @bind-Value="ArticleToCreate.Name"
                                  For="@(() => ArticleToCreate.Name)"
                                  Variant="Variant.Outlined"
                                  Label="Nom"
                                  Placeholder="@FakePlaceholder.Name" />

                    <MudTextField @bind-Value="ArticleToCreate.Description"
                                  For="@(() => ArticleToCreate.Description)"
                                  Variant="Variant.Outlined"
                                  Label="Description"
                                  Placeholder="@FakePlaceholder.Description"
                                  T="string" Lines="5" />

                    <MudSelect @bind-Value="ArticleToCreate.CategoryId"
                               For="@(() => ArticleToCreate.CategoryId)"
                               T="Guid?"
                               Placeholder="@FakePlaceholder.CategoryName"
                               Variant="Variant.Outlined"
                               Label="Catégorie"
                               AnchorOrigin="Origin.BottomCenter">
                        @if (Categories is not null)
                        {
                            @foreach (var category in Categories)
                            {
                                <MudSelectItem T="Guid?" Value="@category.Id">
                                    @category.Name
                                </MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <FilesUpload />

                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudGrid>
        <MudItem xs="12" md="3">
            <MudText Typo="Typo.h6">Prix</MudText>
            <MudText Typo="Typo.body2">Prix de vente et promotions</MudText>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudCard Elevation="10" Class="rounded-lg px-3 py-1">
                <MudCardContent Class="d-flex flex-column gap-4">
                    <MudNumericField @bind-Value="ArticleToCreate.BasePrice"
                                     For="@(() => ArticleToCreate.BasePrice)"
                                     T="decimal?"
                                     HideSpinButtons="true"
                                     Variant="Variant.Outlined"
                                     Label="Prix de base"
                                     Placeholder="@FakePlaceholder.BasePrice.ToString()" />

                    <MudGrid>
                        <MudItem xs="10" md="11">
                            <MudSelect @bind-SelectedValues="ArticleToCreate.PromotionsIds"
                                       T="Guid"
                                       Label="Promotions"
                                       AnchorOrigin="Origin.BottomCenter"
                                       Variant="Variant.Outlined"
                                       MultiSelection="true">
                                @foreach (var promotion in Promotions)
                                {
                                    <MudSelectItem T="Guid" Value="@promotion.Id">@promotion.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2" md="1" Class="align-self-center mb-n2">
                            <div class="d-flex justify-end mud-width-full">
                                <MudIconButton OnClick="@(e => ToggleOverlay(true))"
                                               Color="Color.Secondary"
                                               Variant="Variant.Outlined"
                                               Size="Size.Medium"
                                               Icon="@Icons.Material.Filled.Add" />
                            </div>
                        </MudItem>
                    </MudGrid>

                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudGrid Class="my-4">
        <MudItem xs="12" md="3">
        </MudItem>
        <MudItem xs="12" md="9" Class="d-flex justify-space-between flex-grow-1">
            <MudSwitch @bind-Checked="@ArticleToCreate.Publish"
                       T="bool"
                       Color="Color.Primary"
                       Label="Publié" />
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="ml-auto">
                Valider
            </MudButton>
        </MudItem>
    </MudGrid>
</EditForm>