@page "/article/handler-promotion/{Id:guid}"
@using BlazorWasm.Models.Promotion;
@inherits HandlerArticlePromotionBase
@attribute [Authorize(Policy = "RequireUserMercadona")]

<PageTitle>Gestion des promotions</PageTitle>

@if (PromotionsAvailable.Any())
{
    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
        <MudChip Variant="Variant.Text" Color="Color.Primary" Size="Size.Large">@Articles.Name</MudChip>
    </MudHidden>

    <MudTable @bind-SelectedItems="_selectedItems" @bind-SelectOnRowClick="@_selectOnRowClick" @ref="_mudTable"
              T="PromotionModel"
              Items="@PromotionsAvailable"
              MultiSelection="true"
              Hover="true"
              Class="my-8 mb-6 rounded-lg search-result"
              Elevation="10">
        <ToolBarContent>
            <MudIcon Class="mr-2"
                     Icon="@Icons.Material.TwoTone.LocalMall"
                     Color="Color.Inherit" />
            <MudText Typo="Typo.h6">Gestionnaire de promotion</MudText>
            <MudSpacer />
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudChip Variant="Variant.Text" Color="Color.Primary">@Articles.Name</MudChip>
            </MudHidden>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nom</MudTh>
            <MudTh>Début</MudTh>
            <MudTh>Fin</MudTh>
            <MudTh>Remise</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nom">@context.Name</MudTd>
            <MudTd DataLabel="Début">@context.Start</MudTd>
            <MudTd DataLabel="Fin">@context.End</MudTd>
            <MudTd DataLabel="Remise">@context.Discount</MudTd>
        </RowTemplate>
    </MudTable>

    <div class="d-flex justify-content-end mt-6">
        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="ml-auto"
                   OnClick="OnValidSubmit">
            Sauvegarder
        </MudButton>
    </div>
}

