@page "/article"
@using BlazorWasm.Components
@inherits SearchArticleBase;
@attribute [Authorize(Policy = "RequireUserMercadona")]

<PageTitle>Rechercher un article</PageTitle>

<CascadingValue Value="@_linkAdd">
    <AddButton></AddButton>
</CascadingValue>

<div>
    <EditForm Model="@SearchArticlesRequest" OnValidSubmit="@SearchArticles">
        <DataAnnotationsValidator />
        <MudTextField Class="search-bar"
                      @bind-Value="SearchArticlesRequest.Name"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      AdornmentColor="Color.Default"
                      Placeholder="Rechercher un article par son nom..." />
    </EditForm>

    @if (_loader && Articles == null)
    {
        <MudContainer Class="mt-4 d-flex justify-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </MudContainer>
    }

    @if (Articles != null)
    {
        <div class="pb-8">
            <MudTable Loading="@_loader" LoadingProgressColor="Color.Secondary" Dense Elevation="10" RowsPerPage="@_rowPerPage" Items="Articles" Class="my-8 mb-6 rounded-lg search-result">
                 <ToolBarContent>
                     <MudIcon Class="mr-2" Icon="@Icons.Material.TwoTone.LocalMall" Color="Color.Inherit" />
                     <MudText Typo="Typo.h6">Résultats de recherche</MudText>
                     <MudSpacer />
                     <MudHidden Breakpoint="Breakpoint.Xs">
                         <MudChip Variant="Variant.Text" Color="Color.Primary">@_articleCount éléments</MudChip>
                     </MudHidden>
                 </ToolBarContent>
                 <HeaderContent>
                     <MudTh>Nom</MudTh>
                     <MudTh>Catégorie</MudTh>
                     <MudTh>Prix</MudTh>
                     <MudTh></MudTh>
                 </HeaderContent>
                 <NoRecordsContent>
                     <MudText Typo="Typo.h5" Class="mud-text-secondary mt-16 mb-16 rounded-lg">Aucun résultat</MudText>
                 </NoRecordsContent>
                 <LoadingContent>
                     <MudText Typo="Typo.h5" Class="mud-text-secondary mt-16 mb-16">Chargement...</MudText>
                 </LoadingContent>
                 <RowTemplate>
                     <MudTd DataLabel="Nom">
                         <MudLink Href="@($"article/{context.Id}")">@context.Name</MudLink>
                     </MudTd>
                     <MudTd DataLabel="Catégorie">@context.CategoryName</MudTd>
                     <MudTd DataLabel="Prix">@context.BasePrice</MudTd>
                     <MudTd Style="text-align:right">
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                            <MudMenuItem @onclick="() => RedirectToDetails(context.Id)">
                                Consulter
                            </MudMenuItem>
                            <MudMenuItem @onclick="() => RedirectToUpdate(context.Id)">Modifier</MudMenuItem>
                            <MudMenuItem @onclick="() => DeleteArticle(context.Id)">Supprimer</MudMenuItem>
                        </MudMenu>
                     </MudTd>
                 </RowTemplate>
                 <PagerContent>
                     @if (@_displayRowNavigation)
                    {
                        <MudTablePager RowsPerPageString="Ligne par page" />
                    }
                </PagerContent>
            </MudTable>
        </div>
    }
</div>
