@page "/category/create"
@using BlazorServer.BackOffice.Models;
@inherits CreateCategoryBase;
@attribute [Authorize(Policy = "RequireUserMercadona")]

<MudText Typo="Typo.h4" Class="mb-8">Création d'une catégorie</MudText>

<MudContainer MaxWidth="MaxWidth.Medium">
    <div class="d-flex justify-end gap-2">
        <MudTooltip Text="Ajouter une ligne">
            <MudIconButton OnClick="AddElementToList" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Dark" Size="Size.Medium" />
        </MudTooltip>
        <MudTooltip Text="Supprimer une ligne">
            <MudIconButton OnClick="RemoveLastIndexToList" Icon="@Icons.Material.Filled.Remove" Variant="Variant.Outlined" Color="Color.Dark" Size="Size.Medium" />
        </MudTooltip>
    </div>

    <MudForm @ref="form" @bind-IsValid="@success">
        <MudCard Class="rounded-lg my-6 pa-3" Elevation="10">
            <MudCardContent Class="d-flex flex-column gap-4">
                @foreach (var category in createCategories.Categories)
                {
                    <MudTextField T="string" Variant="Variant.Outlined" Placeholder="Céréales" Label="Nom" @bind-Value="category.Name" Required="true" RequiredError="Le champ ne doit pas être vide" Immediate="true" />
                }
            </MudCardContent>
        </MudCard>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@OnValidSubmit">Valider</MudButton>
        </MudCardActions>
    </MudForm>
</MudContainer>


