@page "/article/{Id:guid}"
@using BlazorServer.BackOffice.Pages.Article;
@inherits DetailsBase;
@attribute [Authorize(Policy = "RequireUserMercadona")]

@if (ArticleModel != null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="5">
            <MudCard Elevation="10">
                <MudCardMedia Image="@ArticleModel.Image" Height="300" />
                <MudCardContent>
                    <div class="d-flex justify-space-between align-content-center flex-wrap flex-grow-1">
                        <div>
                            <MudText Typo="Typo.h5">@ArticleModel.Name</MudText>
                            <MudText Typo="Typo.button" Class="mud-secondary-text">@ArticleModel.CategoryName</MudText>
                        </div>
                        <div>
                            @if (@ArticleModel.Publish)
                            {
                                <MudText Typo="Typo.body2" Color="Color.Success">En ligne</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Warning">Hors ligne</MudText>
                            }
                        </div>
                    </div>
                    <br />
                    <MudText Typo="Typo.body2">@ArticleModel.Description</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Delete"
                                   Color="Color.Default"
                                   OnClick="@DeleteArticle" />

                    <MudIconButton Icon="@Icons.Material.TwoTone.Edit"
                                   Color="Color.Default"
                                   OnClick="@(()=> NavManager.NavigateTo($"/article/update/{ArticleModel.Id}"))" />

                    <MudSpacer />

                    <MudButton Variant="Variant.Text"
                               Color="Color.Primary"
                               OnClick="@(() => NavManager.NavigateTo($"/article/handler-promotion/{ArticleModel.Id}"))">
                        Promotions
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="4">
            <MudStack>
                <MudPaper Class="pa-4 mud-theme-primary d-flex align-content-center flex-wrap flex-grow-1 gap-4" Elevation="10">
                    <MudIcon Icon="@Icons.Material.TwoTone.MonetizationOn"
                             Size="Size.Large"
                             Class="align-self-center" />
                    <MudText Typo="Typo.body1" Class="align-self-center">
                        Prix de base : @ArticleModel.BasePrice €
                    </MudText>
                </MudPaper>
                <MudPaper Class="pa-4 mud-theme-secondary d-flex align-content-center flex-wrap flex-grow-1 gap-4" Elevation="10">
                    <MudIcon Icon="@Icons.Material.Filled.Percent"
                             Size="Size.Large"
                             Class="align-self-center" />
                    <MudText Typo="Typo.body1" Class="align-self-center">
                        Prix calculé : @ArticleModel.DiscountPrice €
                    </MudText>
                </MudPaper>
                @if (@ArticleModel.CurrentPromotion != null)
                {
                    <MudPaper Class="pa-4 mud-theme-tertiary d-flex align-content-center flex-wrap flex-grow-1 gap-4" Elevation="10">
                        <MudIcon Icon="@Icons.Material.TwoTone.Discount"
                                 Size="Size.Large"
                                 Class="align-self-center" />
                        <MudText Typo="Typo.body1" Class="align-self-center">
                            Promo en cours : @ArticleModel.CurrentPromotion.Name (@ArticleModel.CurrentPromotion.Discount %)
                        </MudText>
                    </MudPaper>
                }
            </MudStack>
        </MudItem>
    </MudGrid>
}

