@page "/file"
@using System.Linq
@using System.Net.Http.Headers
@using System.Text.Json
@using BlazorServer.BackOffice.Models.Article;
@inherits FilesUploadBase;

<h1>Upload Files</h1>

<InputFile id="context_img" OnChange="@OnInputFileChange" hidden />
    <MudButton HtmlTag="label"
               Variant="Variant.Filled"
               Color="Color.Secondary"
               StartIcon="@Icons.Material.Filled.Image"
               for="context_img">
        Image
    </MudButton>

@if (files.Count > 0)
{
    <div class="card">
        <div class="card-body">
            <ul>
                @foreach (var file in files)
                {
                    <li>
                        File: @file.Name
                        <br>
                        @if (FileUpload(uploadResults, file.Name,
                       out var result))
                        {
                            <span>
                                Stored File Name: @result.StoredFileName
                            </span>
                        }
                        else
                        {
                            <span>
                                There was an error uploading the file
                                (Error: @result.ErrorCode).
                            </span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}