@page "/article/search"
@using BlazorServer.BackOffice.Models;
@inherits SearchArticleBase;
@attribute [Authorize]

<MudPaper Class="pa-6" Outlined>
    <div class="d-flex justify-space-between align-content-center gap-2 mb-3">
        <div>
            <MudText Class="align-self-center" Typo="Typo.h5" Color="Color.Primary">Articles</MudText>
            <MudText Class="align-self-center" Typo=" Typo.body2">Recherche, ajoute, ou supprime des articles</MudText>
        </div>
        <MudButton Class="align-self-center" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.TwoTone.AddCircle">Ajouter</MudButton>
    </div>

    <MudDivider Class="mb-6" />

    <EditForm Model="@SearchArticlesRequest" OnValidSubmit="@SearchArticles">
        <DataAnnotationsValidator />
        <MudTextField @bind-Value="SearchArticlesRequest.Name" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Margin="Margin.Dense" Placeholder="Rechercher par nom..." />
    </EditForm>
</MudPaper>


@if (Articles is not null)
{
    @if (Articles.Any())
    {
        <MudTable Elevation="11" RowsPerPage="25" Items="Articles" Class="my-8" Bordered>
        <HeaderContent>
            <MudTh>Nom</MudTh>
            <MudTh>Catégorie</MudTh>
            <MudTh>Prix</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Name</MudTd>
            <MudTd DataLabel="Sign">@context.CategoryName</MudTd>
            <MudTd DataLabel="Name">@context.BasePrice</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Ligne par page" />
        </PagerContent>
    </MudTable>

    }
    else
    {
        <div>Aucun résultat</div>
    }
}

@code {


}