@page "/category"
@using BlazorWasm.Components
@using BlazorWasm.Models.Category;
@inherits CategoriesBase
@attribute [Authorize(Policy = "RequireUserMercadona")]

<CascadingValue Value="@LinkAddCategory">
    <AddButton></AddButton>
</CascadingValue>

@if (Categories.Any())
{
    <div class="pb-16">
        <MudTable Items="@Categories"
                  Dense="false"
                  Hover="true"
                  CanCancelEdit="true"
                  Elevation="10"
                  Class="rounded-lg categories"
                  CommitEditTooltip="Modifier"
                  CancelEditTooltip="Annuler"
                  Filter="new Func<CategoryModel,bool>(FilterFunc)"
                  EditTrigger="TableEditTrigger.EditButton"
                  RowEditPreview="BackupItem"
                  RowEditCancel="ResetItemToOriginalValues"
                  RowEditCommit="ItemHasBeenCommittedAsync">
            <ToolBarContent>
                <MudIcon Class="mr-2" Icon="@Icons.Material.TwoTone.Kitchen" Color="Color.Inherit" />
                <MudText Typo="Typo.h6">Liste des catégories</MudText>
                <MudSpacer />
                <MudHidden Breakpoint="Breakpoint.Xs">
                    <MudTextField @bind-Value="_searchString"
                                  Placeholder="Rechercher une catégorie"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium"
                                  Class="mt-0" />
                </MudHidden>
            </ToolBarContent>
            <ColGroup>
                <col />
                <col />
                <col />
                <MudHidden Breakpoint="Breakpoint.Xs">
                    <col style="width:50px;" />
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                    <col />
                </MudHidden>
            </ColGroup>
            <HeaderContent>
                <MudTh>Nom</MudTh>
                <MudTh>Nb Articles</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nom" style="margin-top: 0px!important;">@context.Name</MudTd>
                <MudTd DataLabel="Nb Articles">@context.NumberArticles</MudTd>
                <MudTd DataLabel="Actions" Style="text-align:right">
                    <MudIconButton Size="Size.Small"
                                   Icon="@Icons.Material.Outlined.Delete"
                                   OnClick="@(() => DeleteCategory(@context.Id))">
                        Supprimer
                    </MudIconButton>
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate>
                <MudTd DataLabel="Nom">
                    <MudTextField @bind-Value="@context.Name" Required />
                 </MudTd>
                 <MudTd DataLabel="Nb Articles">@context.NumberArticles</MudTd>
                 <MudTd></MudTd>
             </RowEditingTemplate>
             <PagerContent>
                 @if (@_displayRowNavigation)
                {
                    <MudTablePager RowsPerPageString="Ligne par page" />
                }
            </PagerContent>
            <EditButtonContent Context="button">
                <MudIconButton Size="Size.Small"
                               Icon="@Icons.Material.Outlined.Edit"
                               OnClick="@button.ButtonAction"
                               Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
        </MudTable>
    </div>
}
